
CONVEX_DEPLOYMENT=dev:ed-guidelines

# Convex “.site” / HTTP actions base (your 3211 hostname)
VITE_CONVEX_SITE_URL=https://ed-backend.fazeen.dev
# Convex API base (your 3212 hostname)
VITE_CONVEX_URL=https://ed-api.fazeen.dev

# BetterAuth
# BetterAuth URL (frontend)
BETTER_AUTH_URL=https://ed-test.fazeen.dev
# BetterAuth secret
BETTER_AUTH_SECRET=my-super-secret-key-dont-tell-anyone

# Convex
VITE_SITE_URL=https://ed-test.fazeen.dev
CONVEX_SELF_HOSTED_URL=https://ed-api.fazeen.dev
CONVEX_SELF_HOSTED_ADMIN_KEY=convex-self-hosted|0152...

# OpenAI
OPENAI_API_KEY=sk-proj-...